<div class="background">
    <div class="titleD">
        <h1 class="title">F1 Constructors</h1>
    </div>

    <div class="constructor-cards">

        <div *ngFor="let constructor of constructors" class="constructor-card">
            <div class="team-info">
                <h3 class="team-name">{{constructor.name}}</h3>
                <img src="{{constructor.logo}}" alt="Team Logo 1" class="team-logo">
            </div>
            <hr class="divider">
            <div class="drivers">
                <div class="driver-info">
                    <h4>{{constructor.drivers[0]}}</h4>
                </div>
                <div class="driver-info">
                    <h4>{{constructor.drivers[1]}}</h4>
                </div>
            </div>
            <hr class="divider">
            <div class="team-details">
                <p>
                    <span class="label-start">Base:</span>
                    <span class="value-start">{{constructor.Base}}</span>
                    <span class="label-center">Team Chief:</span>
                    <span class="value-center">{{constructor.chief}}</span>
                </p>
                <p>
                    <span class="label-start">Championships:</span>
                    <span class="value-start">{{constructor.championships}}</span>
                    <span class="label-center">Wins:</span>
                    <span class="value-center">{{constructor.wins}}</span>
                </p>
            </div>
            
            

            <hr class="divider">
            <div class="car-photo">
                <img src="{{constructor.image}}" alt="Car Photo 1">
            </div>
        </div>


    </div>
</div>