.background {
    background-color: #bcbcbc;
    margin: 0px;
}

.constructor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    margin-top: 0px;


}

.constructor-card {
    width: calc(50% - 20px);
    border: 2px solid #aaa;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
    background-color: white;
}

.team-info {
    display: flex;
    align-items: center;
}





.team-name {
    margin: 0;
    flex: 1;
    font-size: 24px;
    font-weight: bold;
}

.team-logo {
    width: 60px;
    height: 60px;
    border: 2px solid #aaa;
    border-radius: 50%;
}



.drivers {
    display: flex;
    justify-content: space-between;
}

.driver-info {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}

.titleD {
    padding-top: 10px;
    background-color: #bcbcbc;
}

.title {
    font-size: 40px;
    font-weight: bold;
    border-top: 10px solid #584444;
    border-right: 10px solid #584444;
    border-radius: 0 40px 0 0;
    padding-top: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 20px;
    background-color: #bcbcbc;
    margin-bottom: 20px;
}



.label {
    font-weight: bold;
}

.car-photo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border: 2px solid #aaa;
    border-radius: 5px;
}

.team-details p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-details p span {
    flex: 1;
    display: flex;
    align-items: center;
}

.label-start,
.label-center {
    font-weight: bold;
}


.label-start,
.value-start {
    text-align: left;

}

.label-center,
.value-center {
    text-align: center;
}
@media (max-width: 1366px) and (max-height: 900px) {
    .constructor-card {
        width: calc(50% - 10px);
    }

    .title {
        font-size: 32px;
    }
}

/* For 1920x1080 */
@media (max-width: 1920px) and (max-height: 1080px) {
    .constructor-card {
        width: calc(50% - 20px);
    }
}

/* For 1280x720 */
@media (max-width: 1280px) and (max-height: 720px) {
    .constructor-card {
        width: calc(100% - 20px);
    }

    .constructor-cards {
        justify-content: center;
    }
}