<div class="outer-container">
  <div class="circuit-badge top-left">Round {{ circuit.round }}</div>
  <div class="circuit-badge top-right" [ngStyle]="{'background-color': hasRaceEnded(circuit) === 'Finished' ? '#32CD32' : '#F28C28'}">{{ hasRaceEnded(circuit) }}</div>
  <div class="circuit-card-2" [class.hovered]="isHovered" (click)="redirectToDetailsPage(circuit.idFire)">
    <div class="top-section">
      <div class="circuit-image-wrapper">
        <img src="../../../../../assets//F1-logo.png" alt="{{ circuit.raceName }}" class="circuit-small-image">
      </div>
      <h3 class="circuit-name">{{ circuit.raceName }}</h3>
    </div>
    <div class="bottom-section">
      <img [src]="circuit.image" alt="{{ circuit.raceName }}" class="circuit-image">
    </div>
  </div>
</div>
