<div class="cards-container">
    <div routerLink="drivers" class="card drivers-card">
        <div class="image-container">
            <img src="../../../../assets//drivers.jpg" alt="Drivers Image" class="center-image">
        </div>
        <div class="card-text">Drivers</div>
    </div>
    <div routerLink="contructors" class="card constructors-card">
        <div class="image-container">
            <img src="../../../../assets//contructors.jpg" alt="Constructors Image" class="center-image">
        </div>
        <div class="card-text">Constructors</div>
    </div>
</div>

