body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-section {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    padding: 10px;
}

.top-section img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.name-date {
    flex: 1;
    text-align: right;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.date {
    font-size: 14px;
    color: #888;
}

.middle-section {
    padding: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #444;
}

h3 strong {
    font-size: 24px;
    margin-right: 5px;
    color: #FFA500;

}

p {
    font-size: 14px;
    color: #555;
    margin: 0;
}

.bottom-section {
    padding: 10px;

}

.bottom-section ul {
    list-style-type: decimal;
    padding-left: 20px;
}

.bottom-section li {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.bottom-section img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.card {
    max-width: 400px;
    display: flex;
    width: 340px;
    height: 350px;
    background-color: #fff;
    border-radius: 8px;
    border-spacing: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: border 0.3s, box-shadow 0.3s;
}

.card:hover {
    border-top: 4px solid #FF0000;
    border-right: 4px solid #FF0000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}