.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bcbcbc;
    height: calc(100vh - 100px);

}



.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.card-header {
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 2rem;
}

.form-label {
    font-weight: bold;
}

.error-text {
    margin-top: 0.5rem;
}

.btn-primary {
    width: 100%;
}

.text-center {
    text-align: center;
    margin-top: 1rem;
}

i {
    padding: 15px;
    border: #f8f9fa;
    border-radius: 30px;
    background-color: lightblue;
}
@media (min-width: 360px) and (min-height: 640px) {
    .login-container {
        padding: 22.64%;
        
        
    }
}

@media (min-width: 1366px) and (min-height: 768px) {
    .login-container {
        padding: 11.98%;
        
    }
}

@media (min-width: 1920px) and (min-height: 1080px) {
    .login-container {
        padding: 7.35%;
        
    }
}