<div class="main">
    <div class="year-selector">

        <select [ngModel]="selectedYear" (ngModelChange)="onChange($event)" name="selYear" id="year">
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>

        </select>
    </div>

    <div class="standings-container">

        <div class="standings-table">
            <h2>Driver's</h2>
            <ng-container >
                <ul *ngFor="let driver of drivers; let i = index">
                    <li>
                       {{i+1}}. {{getKeyValue(driver).key}}: {{getKeyValue(driver).value}} points. 
                    </li>
                </ul>
            </ng-container>

        </div>

        <div class="standings-table">
            <h2>Constructor's</h2>
            <ng-container >
                <ul *ngFor="let constructor of constructors; let i = index">
                    <li>
                       {{i+1}}. {{getKeyValue(constructor).key}}: {{getKeyValue(constructor).value}} points. 
                    </li>
                </ul>
            </ng-container>

        </div>
    </div>
</div>
