.error-text {
    margin-top: 10px;
}


/* Style for the disabled submit button */

button.btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    align-items: center;
}
i {
    padding: 15px;
    border: #f8f9fa;
    border-radius: 30px;
    background-color: lightblue;
}
.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Set the height of the container to fill the available space */
    height: calc(100vh - 100px);
    /* Subtract the height of header and footer */
    /* Add top and bottom margins */
    margin: 20px 0;
}