<div class="register-container">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Register</h4>
                    </div>
                    <div class="card-body">
                        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
                            <div class="mb-3">
                                <label for="name" class="form-label">Display name</label>
                                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name">
                                <div *ngIf="registerForm?.get('name').invalid && (registerForm?.get('name').dirty || registerForm.get('name').touched)" class="error-text">
                                    <small class="text-danger">Name is required.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email">
                                <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)" class="error-text">
                                    <small class="text-danger">Email is required and must be a valid email address.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
                                <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)" class="error-text">
                                    <small class="text-danger">Password is required and must be at least 6 characters long.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm your password">
                                <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)" class="error-text">
                                    <small class="text-danger">Password confirmation is required and must match the password.</small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="favoriteDriver" class="form-label">Favorite Driver</label>
                                <select class="form-control" id="favoriteDriver" formControlName="favoriteDriver">
                    <option value="" disabled>Select your favorite driver (optional)</option>
                    <option *ngFor="let driver of drivers" [value]="driver.name">{{ driver.name }}</option>
                  </select>

                            </div>
                            <div class="mb-3">
                                <label for="favoriteConstructor" class="form-label">Favorite Constructor</label>
                                <select class="form-control" id="favoriteConstructor" formControlName="favoriteConstructor">
                    <option value="" disabled>Select your favorite constructor (optional)</option>
                    <option *ngFor="let contructor of constructors" [value]="contructor.name">{{ contructor.name }}
                    </option>

                  </select>

                            </div>
                            <div class="mb-3">
                                <label for="favoriteCircuit" class="form-label">Favorite Circuit</label>
                                <select class="form-control" id="favoriteCircuit" formControlName="favoriteCircuit">
                    <option value="" disabled>Select your favorite circuit (optional)</option>
                    <option *ngFor="let circuit of circuits" [value]="circuit.raceName">{{ circuit.raceName}}
                    </option>

                  </select>
                            </div>
                            <div *ngIf="errorMessage" class="error-text">
                                <small class="text-danger">{{ errorMessage }}</small>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-6">
                                    <p class="text-center">Already registered? <a routerLink="/login" href="">Login</a></p>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <a (click)="loginWithGoogle()" class="icons" class="btn btn-light"><i class="fab fa-google"></i> </a>    
                                <a (click)="loginWithYahoo()"class="icons" class="btn btn-light"><i class="fab fa-yahoo"></i></a>
                                <a (click)="loginWithGitHub()"class="icons" class="btn btn-light"><i class="fab fa-github"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
   
</div>
