
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    color: #fff;

}

.logo img {
    max-height: 50px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}



.nav-links li {
    margin-right: 15px;
   
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: -200px;
    padding: 0;
    margin: 0;

}


.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: x-large;
}

.login-register a,
.profile-logout a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    margin-left: 15px;
}

.profile-logout img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-logout {
    display: flex;
    align-items: center;
}

.profile-logout a.logout {
    background-color: #dc3545;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}


.logo img {
    width: 250px;

}
@media screen and (max-width: 1200px) {
    .logo img {
        max-height: 40px;
        width: 200px;
    }
}

/* Tablet Styles (1366px) */
@media screen and (max-width: 1366px) {
    .nav-links {
        gap: 15px;
        margin-left: -150px;
    }

    .nav-links li {
        margin-right: 10px;
    }
}

/* Desktop Styles (1440px) */
@media screen and (max-width: 1440px) {
    .logo img {
        max-height: 40px;
        width: 180px;
    }
    
    .nav-links {
        gap: 15px;
        margin-left: -100px;
    }
}

