<header>
  <div class="logo">
    <a href="#">
      <img src="../../../assets/Color logo - no background.png" alt="Logo">
    </a>
  </div>

  <nav>
    <ul class="nav-links">
      <li><a routerLink="/standings" href="">Standings</a></li>
      <li><a routerLink="/schedule" href="">Schedule</a></li>
      <li><a routerLink="/schedule" href="">Wiki</a></li>
      
      
      <li><a href="#">Compare</a></li>
    </ul>
  </nav>

  <div class="login-register" *ngIf="!isLogged">
    <a href="#">Login</a>
    <a href="#">Register</a>
  </div>
  <div class="profile-logout" *ngIf="isLogged">
    <img src="../../../assets/profile png.png" alt="Profile Photo">
    <a href="#">Logout</a>
  </div>
</header>