<header>
    <div class="logo">
        <a href="#">
            <img src="../../../assets/Color logo - no background.png" alt="Logo">
        </a>
    </div>

    <nav>
        <ul class="nav-links">
            <li><a routerLink="/standings" href="">Standings</a></li>
            <li><a routerLink="/schedule" href="">Schedule</a></li>
            <li><a routerLink="/wiki" href="">Wiki</a></li>


            <li><a href="#">Compare</a></li>
        </ul>
    </nav>

    <div class="login-register" *ngIf="!isLogged">
        <a routerLink="/login" href="">Login</a>
        <a routerLink="/register" href="">Register</a>
    </div>
    <div class="profile-logout" *ngIf="isLogged">
        <a routerLink="/profile" href="">
            <img src="../../../assets/profile png.png" alt="Profile Photo">
        </a>


        <a class="logout" (click)="logoutHandler()" href="/">Logout</a>
    </div>
</header>