/* Common styles for both View Mode and Edit Mode */

.profile-view,
.edit-profile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 80px);
    /* Adjust height to fill the whole page except header and footer */
    background-color: #f1f1f1;
    /* Set a background color to fill the view */
    padding: 20px;
    /* Add padding to space the content */
    font-size: 20px;
    /* Increase the font size */
}


/* Profile View specific styles */

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #FF6F00;
    /* Dark Orange border */
    margin-top: 30px;
}

.profile-info {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FF6F00;
    /* Dark Orange */
}

.profile-info p {
    font-size: 18px;
    /* Increase font size for profile details */
    margin-bottom: 5px;
}


/* Edit Profile View specific styles */

.edit-profile-view form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* Full width form */
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label {
    font-size: 18px;
    /* Increase font size for labels */
    font-weight: bold;
    color: #FF6F00;
    margin-right: 30px;
    /* Dark Orange */
}

input,
select {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    /* Increase font size for inputs and selects */
    border: 1px solid #FF6F00;
    /* Dark Orange border */
    border-radius: 5px;
}


/* White line at the top */

.profile-info:not(.edit-profile-view) {
    border-top: 1px solid white;
    /* Add a white border at the top of the profile info */
    padding-top: 10px;
    /* Add padding to separate the content from the line */
}

button {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #FF6F00;
    /* Dark Orange */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button.cancel-btn {
    background-color: #dc3545;
}


/* Hover styles for buttons */

button:hover {
    background-color: #FFA500;
    /* Orange (a shade lighter on hover) */
}

.edit-buttons {
    display: flex;
    /* Arrange buttons horizontally */
    justify-content: space-between;
    /* Add space between buttons */
    margin-top: 20px;
    gap: 30px;
}

.custom-dropdown {
    position: relative;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.selected-option {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options div {
    padding: 5px;
}

.options div:hover {
    background-color: #f0f0f0;
}

.dropdown.open .options {
    display: block;
}