<!-- Profile View -->
<div class="profile-view" *ngIf="!isEditMode">
    <div class="profile-picture">
        <img src="./../../../../assets/profile png.png" alt="Profile Photo">
    </div>
    <div *ngIf="user" class="profile-info">
        <h2>   {{ user.name }}</h2>
        <p><b>Email:</b>   {{   user.email }}</p>
        <p><b>Favorite Driver:</b>   {{ user.favoriteDriver }}</p>
        <p><b>Favorite Constructor:</b>   {{ user.favoriteConstructor }}</p>
        <p><b>Favorite Circuit:</b>   {{ user.favoriteCircuit }}</p>
    </div>

    <div class="editBtn">
        <button class="editBtn" (click)="toggleEditMode()">Edit Profile</button>
    </div>
</div>

<!-- Edit Profile Form -->
<div *ngIf="isEditMode" class="edit-profile-view">
    <form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input size="30px" placeholder="{{ user.name }}" type="text" id="firstName" name="firstName"
                [(ngModel)]="firstName" required>
        </div>

        <div class="form-group">
            <div class="label-with-small-text">
                <label for="favoriteDriver" class="form-label">Favorite Driver</label>
                <div class="small-text-centered">{{ user?.favoriteDriver }}</div>
            </div>
            <select name="favoriteDriver" id="favoriteDriver" class="form-control" [(ngModel)]="favoriteDriver">
                <option *ngFor="let driver of drivers" [value]="driver">{{ driver }}</option>
            </select>
        </div>

        <div class="form-group">
            <div class="label-with-small-text">
                <label for="favoriteConstructor" class="form-label">Favorite Constructor</label>
                <div class="small-text-centered">{{ user?.favoriteConstructor }}</div>
            </div>
            <select name="favoriteConstructor" id="favoriteConstructor" class="form-control"
                [(ngModel)]="favoriteConstructor">
                <option *ngFor="let circuit of circuits" [value]="circuit">{{ circuit }}</option>
            </select>
        </div>

        <div class="form-group">
            <div class="label-with-small-text">
                <label for="favoriteCircuit" class="form-label">Favorite Circuit</label>
                <div class="small-text-centered">{{ user?.favoriteCircuit }}</div>
            </div>
            <select name="favoriteCircuit" id="favoriteCircuit" class="form-control" [(ngModel)]="favoriteCircuit">
                <option *ngFor="let contructor of constructors" [value]="contructor">{{ contructor }}</option>

            </select>
        </div>

        <div class="edit-buttons">
            <button type="submit">Save</button>
            <button type="button" class="cancel-btn" (click)="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>