.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
    background-color: #bcbcbc;
    padding: 20px;
    font-size: 24px;
}

.profile-view,
.edit-profile-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #fff;
    border-top: 5px solid #555;
    border-right: 5px solid #555;
    border-bottom: none;
    border-left: none;
    border-radius: 100px;
    padding: 40px;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.profile-view .profile-picture img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 5px solid #FF6F00;
    margin-top: 30px;
}

.profile-view .profile-info h2,
.profile-view .profile-info {
    font-size: 36px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 2px solid #555;
    padding-bottom: 20px;
}

.label-with-small-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.label-with-small-text label,
.name-label {
    font-size: 24px;
    font-weight: bold;
    color: #FF6F00;
    margin-bottom: 15px;
}

.small-text-centered {
    text-align: right;
    font-size: 18px;
    color: #444;
    margin-top: 5px;
}

select,
input {
    width: 100%;
    padding: 12px;
    font-size: 20px;
    border: 2px solid #FF6F00;
    border-radius: 5px;
}

.edit-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    background-color: #FF6F00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button.cancel-btn {
    background-color: #dc3545;
}

button:hover {
    background-color: #FFA500;
}

@media (max-width: 1280px) and (max-height: 720px) {
    .profile-container {
        padding: 10px;
    }

    .profile-view,
    .edit-profile-view {
        padding: 20px;
        margin: 10px;
    }

    .profile-view .profile-picture img {
        width: 150px;
        height: 150px;
    }

}

@media (max-width: 1366px) and (max-height: 900px) {
    .profile-container {
        padding: 15px;
    }

    .profile-view,
    .edit-profile-view {
        padding: 30px;
        margin: 15px;
    }

    .profile-view .profile-picture img {
        width: 180px;
        height: 180px;
    }

}

@media (max-width: 1920px) and (max-height: 1080px) {
    .profile-container {
        padding: 20px;
    }

    .profile-view,
    .edit-profile-view {
        padding: 40px;
        margin: 20px;
    }

    .profile-view .profile-picture img {
        width: 200px;
        height: 200px;
    }

}