<!-- Profile View -->
<div class="profile-view" *ngIf="!isEditMode">
    <div class="profile-picture">
        <img src="./../../../../assets/profile png.png" alt="Profile Photo">
    </div>
    <div *ngIf="user" class="profile-info">
        <h2>{{ user.name }}</h2>
        <p>Email: {{ user.email }}</p>
        <p>Favorite Driver: {{ user.favoriteDriver }}</p>
        <p>Favorite Constructor: {{ user.favoriteConstructor }}</p>
        <p>Favorite Circuit: {{ user.favoriteCircuit }}</p>
    </div>

    <div class="editBtn">
        <button class="editBtn" (click)="toggleEditMode()">Edit Profile</button>
    </div>
</div>

<!-- Edit Profile Form -->
<div *ngIf="isEditMode" class="edit-profile-view">
    <form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input size="30px" placeholder="{{ user.name }}" type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
        </div>

        <div class="form-group">
            <label for="favoriteDriver" class="form-label">Favorite Driver</label>
            <select name="favoriteDriver" class="form-control" id="favoriteDriver" [(ngModel)]="favoriteDriver">
                <!-- The existing favorite driver option -->
           
                <!-- Add more driver options as needed -->
                <option value="driver1">Driver 1</option>
                <option value="driver2">Driver 2</option>
            </select>
        </div>

        <div class="form-group">
            <label for="favoriteConstructor" class="form-label">Favorite Constructor</label>
            <select name="favoriteConstructor" class="form-control" id="favoriteConstructor" [(ngModel)]="favoriteConstructor">
                <!-- The existing favorite constructor option -->
                
                <option value="constructor1">Constructor 1</option>
                <option value="constructor2">Constructor 2</option>
                <!-- Add more constructor options as needed -->
            </select>
        </div>

        <div class="form-group">
            <label for="favoriteCircuit" class="form-label">Favorite Circuit</label>
            <select name="favoriteCircuit" class="form-control" id="favoriteCircuit" [(ngModel)]="favoriteCircuit">
                <!-- The existing favorite circuit option -->
                
                <option value="circuit1">Circuit 1</option>
                <option value="circuit2">Circuit 2</option>
                <!-- Add more circuit options as needed -->
            </select>
        </div>

        <div class="edit-buttons">
            <button type="submit">Save</button>
            <button type="button" class="cancel-btn" (click)="cancelEdit()">Cancel</button>
        </div>
    </form>
</div>