/* Base styles */
.background {
    background-color: #bcbcbc;
    margin: 0px;
}

.tire-choice {
    margin-bottom: 20px;
}

.tire-options {
    display: flex;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    padding: 5px;
    font-size: 16px;
}

.info-button1 {
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.info-button2 {
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    height: 500px;
 
}

.info-content {
    display: block;
    background-color: #fff5b8;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 1000px;
    
    margin: 0px auto;
    text-align: left;
    z-index: 3;
    border-radius: 20px;
}

.content-wrapper {
    position: relative;
    z-index: 1;
}

.info-content h2 {
    display: block;
  
}

.info-content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tire-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s, transform 0.3s;
}

.tire-option img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.tire-option p {
    margin: 0;
}

.tire-option:hover {
    border-color: #007bff;
    transform: scale(1.05);
}

.tire-option.selected {
    border-color: #007bff;
    transform: scale(1.05);
}

.colored-lap {
    color: #007bff;
    margin-bottom: 10px;
}

.race-simulation {
    margin-top: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.race-simulation h2 {
    margin-bottom: 10px;
}

.race-simulation ul {
    list-style-type: none;
    padding: 0;
    max-height: 70px;
    overflow-y: scroll;
}

.race-simulation li {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.dnf {
    color: red;
    font-size: 30px;
}

.pit-stop-strategy {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: -150px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}

.side-panel {
    padding: 20px;
    border: 5px solid #a6a6a6;
    border-radius: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.main-content {
    padding: 50px;
    border: 8px solid #545454;
    border-radius: 20%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    grid-column: 2;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    position: relative;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.endBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.raceEnd {
    background-color: coral;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color: white;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.raceEnd:hover {
    background-color: #ff6b4a;
}

.strategy-comparison {
    display: block;
}

.pitstop {
    background-color: burlywood;
}

.side-panel.right-panel {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.side-panel.right-panel h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.leaderboard-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.leaderboard-item-details {
    display: flex;
    align-items: center;
}

.leaderboard-item p {
    font-size: 14px;
    margin: 0;
    margin-right: 10px;
}

.leaderboard-item .player-name {
    font-weight: bold;
}

.leaderboard-item .score {
    color: #007bff;
}

.leaderboard-item .timestamp {
    font-size: 12px;
    color: #777;
}

/* Responsive adjustments */

/* For screens larger than 1200x720 and smaller than 1366x900 */
@media screen and (min-width: 1200px) and (min-height: 720px) and (max-width: 1366px) and (max-height: 900px) {
    .main-content {
        padding: 0px;
        border-radius: 0px;
        height: 600px;
        overflow-y: scroll;
    }
    
    .race-simulation ul {
        max-height: 80px;
        width: 300px;
        overflow-y: scroll;
    }
    .race-simulation ul li {
       padding: 10px;
        width: 300px;
       
    }
    .info-content {
        height: 500px;
        overflow-y: scroll;
    }
    .info-overlay{
        height: 500px;
        overflow-y: scroll;
    }
    
}

/* For screens larger than 1366x900 and smaller than 1920x1080 */
@media screen and (min-width: 1367px) and (max-width: 1919px) and (min-height: 900px) and (max-height: 1079px) {
    .main-content {
        padding: 0px;
        border-radius: 0px;
        height: 600px;
        overflow-y: scroll;
    }
    
    .race-simulation ul {
        max-height: 90px;
        width: 300px;
        overflow-y: scroll;
    }
    .race-simulation ul li {
       padding: 10px;
        width: 300px;
        overflow-y: scroll;
    }
    .info-content {
        height: 500px;
        overflow-y: scroll;
    }
    .info-overlay{
        height: 500px;
        overflow-y: scroll;
    }
}

/* For screens larger than 1366x900 and smaller than 1920x900 */
@media screen and (min-width: 1367px) and (max-width: 1920px) and (min-height: 900px) and (max-height: 900px) {
    .pit-stop-strategy {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: -100px;
    }
    .main-content {
        margin-bottom: 40px;
    }
}
